*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  overflow: hidden;
  font-family: montserrat;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fff;
  user-select: none;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  background: rgb(208,215,240);
  background: linear-gradient(158deg, rgba(208,215,240,1) 0%, rgba(162,175,219,1) 35%, rgba(95,112,167,1) 100%);
  margin: 10% auto;
  padding: 30px 50px 30px 40px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.weather {
  max-height: 200px;
  display: flex;
  justify-content: space-between;
}
.dropdown {
  width: 200px;
  display: inline-block;
  border-radius: 2px;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #fff;
  height: 100%;
  text-align: left
}
.dropdown .select {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 10px
}

.dropdown:active {
    background-color: #f8f8f8
}
.dropdown:hover {
  border-radius: 10px;
  background-color: #5e6775;
}
.dropdown.active:hover,
.dropdown.active {
    border-radius: 10px;
    background-color: #658ebb;
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #658ebb;
    width: 100%;
    left: 0;
    margin-top: 1px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #47449c9e
}
.dropdown .dropdown-menu li:active {
    background-color: #2525a7;
}
.weather-cities {
  border-radius: 10px;
  background-color: rgb(0 0 0 / 30%);
}
.weather {
  margin-bottom: 100px;
}
.weather-text {
  font-size: 17px;
  line-height: 10px;
}
.weather-degrees {
  text-align: center;
  color: #fff;
}
.card-container {
  color: #fff;
  margin: 0 auto;
  width: 390px;
  padding: 10px;
  background-color: rgb(0 0 0 / 30%);
  border-radius: 15px;
}
.cardWeather {
  display: flex;
}
.cardWeather-icon {
  width: 40px;
}
.general-weather {
 display: flex;
 justify-content: space-between;
}
.weather-icon {
  transform: scale(2);
}
.data-time {
  font-size: 12px;
  color: rgb(235, 88, 88);
}

@media (max-width: 576px) {
  .container{
    padding: 5px;
    margin: 25% auto;
  }
  .card-container{
    width: 360px;
  }
  .weather-text{
    font-size: 13px;
  }
  .degrees{
    font-size: 1.2em;
  }
  .dropdown{
    width: 160px;
  }
}
